CompilerSuite/obj/
CompilerSuite/bin/
.vs/CompilerSuite/
packages/
LunarCompiler/obj/
Compiler.CodeGen/bin/
Compiler.CodeGen/obj/
Compiler.CLI/bin/
Compiler.CLI/obj/
Compiler.Tests/bin/
Compiler.Tests/obj/
